<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.skytb.dao.custom.CustomUserMapper" >
  <select id="selectByUserName" resultMap="com.sky.skytb.dao.UUserMapper.BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="com.sky.skytb.dao.UUserMapper.Base_Column_List" />
    from u_user
   where user_name=#{userName}
  </select>
</mapper>